<html>
    <body>
        <form action="/offers" method="post">
            <div>
                <input type="text" name="description">
            </div>
            <div>
                <select name="book[id]">
                    <%for(var i=0; i < list.length; i++){%>
                        <option value="<%=list[i].id%>"><%=list[i].title%></option>
                    <%}%>
                </select>
            </div>
            <input type="submit" value="Save offer">
        </form>
    </body>
</html>